.advantages {
    padding-top: 160px;

    @media (max-width: $display-lg-max) {
        padding-top: 70px;
    }

    &__wrapper {
        max-width: 600px;
        height: 660px;
        margin: 0 auto;
        background-image: url("../img/SVG/backgorund-ellipse.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: $display-sm-max) {
            height: auto;
            background-image: none;
        }
    }

    &__item {
        max-width: 260px;
        padding: 30px 20px;
        margin-bottom: 25px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 4px 4px 9px rgba(44, 43, 43, 0.08);

        @media (max-width: $display-sm-max) {
            max-width: 100%;
        }
    }

    &__subtitle {
        @include text-medium;

        margin: 20px 0;
        font-size: 17px;
        color: $main-color;
    }

    &__inner {
        max-width: 470px;

        @media (max-width: $display-md-max) {
            max-width: 470px;
        }
    }

    &__title {
        @include text-title;
    }

    &__bottom-text {
        margin: 40px 0;
        line-height: 1.4;
    }
}
