.advantage-block {
    max-width: 260px;
    padding: 30px 20px;
    margin-bottom: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgba(44, 43, 43, 0.08);

    @media (max-width: $display-sm-max) {
        max-width: 100%;
    }

    &__title {
        @include text-medium;

        margin: 20px 0;
        font-size: 17px;
        color: $main-color;
    }
}
