.button {
    @include text-medium;

    display: inline-block;
    min-width: 225px;
    padding: 17px 0;
    font-size: 19px;
    line-height: 1.4;
    color: $main-color;
    text-align: center;
    background: linear-gradient(180deg, #ffe175 0%, #ffc01b 100%);
    border: none;
    border-radius: 8px;
    transition: 0.3s;

    &:hover,
    &:focus {
        color: $main-color;
        transform: scale(1.1);
    }

    @media (max-width: $display-sm-max) {
        width: 100%;
    }
}
