.deep-into-grammar {
    &__inner {
        max-width: 572px;
    }

    &__title-selection {
        @include main-gradient;

        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
