.page {
    &--hidden {
        @media (max-width: $display-xl-max) {
            overflow: hidden;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__inner {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__main {
        overflow: hidden;
    }

    &__navigation-link {
        transition: 0.3s;

        &--active {
            opacity: 0.6;
        }

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
}
