.pluses-block {
    @media (max-width: $display-md-max) {
        max-width: 470px;
    }

    &__title {
        @include text-title;
    }

    &__text {
        margin: 40px 0;
        line-height: 1.4;
    }
}
