.program-card {
    position: relative;
    width: 100%;
    min-width: 264px;
    max-width: 370px;
    height: 100%;
    padding: 45px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(44, 43, 43, 0.2);
    transition: 0.3s;

    &--max {
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: $display-sm-max) {
        padding: 25px 16px;
    }

    &__title {
        @include text-medium;

        font-size: 22px;
        text-align: center;

        @media (max-width: $display-lg-max) {
            font-size: 16px;
        }
    }

    &__title-selection {
        @include main-gradient;

        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.3s;
    }

    &__price {
        @include text-title;

        margin: 25px 0;
        font-size: 45px;
        color: $main-color;
        text-align: center;

        &--max {
            font-size: 35px;
            text-align: left;

            @media (max-width: $display-sm-max) {
                text-align: center;
            }
        }

        @media (max-width: $display-lg-max) {
            margin: 15px 0;
            font-size: 32px;
        }
    }

    &__desc {
        @include text-medium;

        font-size: 17px;
        line-height: 1.4;
        text-align: center;

        &--max {
            text-align: left;

            @media (max-width: $display-sm-max) {
                text-align: center;
            }
        }

        @media (max-width: $display-lg-max) {
            font-size: 12px;
        }
    }

    &__list {
        margin-top: 35px;

        @media (max-width: $display-lg-max) {
            margin-top: 15px;
            font-size: 12px;
        }
    }

    &__item {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9L7.5 13.5L15 4.5' stroke='%2370231C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: transparent;
        transition: 0.3s;
    }
}
