.reviews {
    &__title {
        margin-bottom: 35px;
        color: $main-color;
        text-align: center;
    }

    &__picture {
        position: relative;
        display: block;
        transition: 0.3s;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            background-color: rgba($color: #fff, $alpha: 0.4);
            transition: 0.3s;
        }
    }

    &__photo {
        width: 262px;
        height: 306px;
        border-radius: 10px;
        transition: 0.3s;

        @media (max-width: $display-sm-max) {
            width: 174px;
            height: 203px;
        }
    }

    &__text {
        max-width: 570px;
        text-align: center;
    }

    &__reviewer-name {
        @include text-medium;

        margin: 24px 0 10px;
        font-size: 20px;
        color: $main-color;
    }

    &__reviewer-profession {
        font-size: 20px;
        color: #bdbdbd;
    }
}

// reviews top-slider

.reviews__top-slider {
    position: relative;

    &::before {
        position: absolute;
        top: -20%;
        right: 50%;
        z-index: -1;
        width: 68%;
        height: 138%;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='805.1237111091614' height='581.020622253418' fill='none' xmlns='http://www.w3.org/2000/svg' style=''%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.3566182309647045' y1='0.0577115466719074' x2='0.6131389523631295' y2='1.0386678565619876'%3E%3Cstop stop-color='%23FFE175'/%3E%3Cstop offset='1' stop-color='%23FFC01B'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg class='currentLayer' style=''%3E%3Cpath opacity='0.2' d='M796.894 280.749C1030.8 374.484 745.003 737.281 560.21 669.582C375.417 601.883 226.744 769.258 120.335 589.384C13.9254 409.511 228.881 414.214 364.07 197.247C499.259 -19.7199 562.987 187.015 796.894 280.749Z' fill='url(%23paint0_linear)' id='svg_1' class='selected' transform='translate(-78.866, -29.3814) translate(-8.76289, -71.134)'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(50%);

        @media (max-width: $display-lg-max) {
            display: none;
        }
    }

    &::after {
        position: absolute;
        bottom: -8%;
        left: 58%;
        width: 72px;
        height: 64px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='64' viewBox='0 0 72 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.8109 64H43.2109V39C43.2109 28.8667 45.5443 20.3333 50.2109 13.4C55.0109 6.46666 62.2109 2.19999 71.8109 0.599998V13.8C63.2776 16.3333 58.8109 22.8667 58.4109 33.4H71.8109V64ZM29.4109 64H0.810938V39C0.810938 28.8667 3.14427 20.3333 7.81094 13.4C12.6109 6.46666 19.8109 2.19999 29.4109 0.599998V13.8C20.8776 16.3333 16.4109 22.8667 16.0109 33.4H29.4109V64Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='36.5' y1='11' x2='36.5' y2='171' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE175'/%3E%3Cstop offset='1' stop-color='%23FFC01B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: $display-sm-max) {
            bottom: -1%;
            left: 60%;
            width: 54px;
            height: 48px;
        }
    }

    & .reviews__top-slider-item {
        display: flex !important;
        justify-content: center;
    }

    & .slick-track {
        display: flex;
    }

    & .slick-list {
        position: relative;
        display: flex;
        max-width: 860px;
        padding: 65px 0 !important;
        margin: 0 auto;
        overflow: hidden;
    }

    & .slick-active {
        position: relative;
        z-index: 1;
    }

    & .slick-current {
        position: relative;
        z-index: 2;

        & .reviews__photo {
            position: relative;
            z-index: 2;
            opacity: 1;
            transform: scale(1.4);
        }
    }

    & .slick-arrow {
        position: absolute;
        top: 50%;
        width: 42px;
        height: 16px;
        font-size: 0;
        background-color: transparent;
        border: none;
        transform: translateY(-50%);
    }

    & .slick-prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='16' viewBox='0 0 42 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.351486 8.70711C-0.0390358 8.31658 -0.0390358 7.68342 0.351486 7.29289L6.71545 0.928932C7.10597 0.538408 7.73914 0.538408 8.12966 0.928932C8.52019 1.31946 8.52019 1.95262 8.12966 2.34315L2.47281 8L8.12966 13.6569C8.52019 14.0474 8.52019 14.6805 8.12966 15.0711C7.73914 15.4616 7.10597 15.4616 6.71545 15.0711L0.351486 8.70711ZM41.0586 9H1.05859V7H41.0586V9Z' fill='%2370231C'/%3E%3C/svg%3E%0A");
    }

    & .slick-next {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='16' viewBox='0 0 42 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.7657 8.70711C41.1562 8.31658 41.1562 7.68342 40.7657 7.29289L34.4017 0.928932C34.0112 0.538408 33.3781 0.538408 32.9875 0.928932C32.597 1.31946 32.597 1.95262 32.9875 2.34315L38.6444 8L32.9875 13.6569C32.597 14.0474 32.597 14.6805 32.9875 15.0711C33.3781 15.4616 34.0112 15.4616 34.4017 15.0711L40.7657 8.70711ZM0.0585938 9H40.0586V7H0.0585938V9Z' fill='%2370231C'/%3E%3C/svg%3E%0A");
    }
}

// reviews bottom-slider

.reviews__bottom-slider {
    margin-top: 75px;

    & .slick-track {
        display: flex;
        justify-content: space-between;
    }

    & .slick-list {
        overflow: hidden;
    }
}
