.section {
    &__container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;

        @media (max-width: $display-md-max) {
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr;
        }
    }

    &__inner {
        align-self: end;
        margin-bottom: 40px;

        &--max {
            max-width: 560px;
        }

        @media (max-width: $display-md-max) {
            max-width: 100%;
        }
    }

    &__title {
        @include text-title;

        &--main-color {
            color: $main-color;
        }

        &--mini {
            max-width: 470px;
            margin: 0 auto;
        }

        @media (max-width: $display-md-max) {
            max-width: 100%;
        }
    }

    &__photo-wrap {
        display: flex;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

        &--left {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            margin-right: 40px;
            margin-left: 0;
        }

        @media (max-width: $display-md-max) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            margin: 0 0 25px;
        }

        &--top {
            @media (max-width: $display-md-max) {
                flex-direction: column;
                grid-row: 1 / 2;
                grid-column: 1 / -1;
                margin: 0 0 25px;
            }
        }
    }

    &__photo {
        position: relative;
        z-index: 2;

        &::before {
            position: absolute;
            top: -15%;
            left: -32%;
            z-index: -1;
            width: 150%;
            height: 157%;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='753' height='753' viewBox='0 0 753 753' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M531.747 162.007C657.145 272.127 738.882 536.055 567.259 515.727C395.636 495.399 323.132 575.633 219.111 561.673C115.09 547.713 140.2 431.269 204.623 221.763C269.046 12.2559 406.349 51.8881 531.747 162.007Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='189.62' y1='180.496' x2='562.65' y2='572.382' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE175'/%3E%3Cstop offset='1' stop-color='%23FFC01B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &--2nd-background {
            &::before {
                top: 4%;
                left: 6%;
                width: 100%;
                height: 107%;
                background-image: url("data:image/svg+xml,%3Csvg width='587' height='588' viewBox='0 0 587 588' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M304.291 20.3444C457.637 71.9491 678.5 332 545.595 382.121C412.69 432.242 316.634 539.964 204.817 579.982C93.0004 619.999 55.8043 491.139 8.18369 249.318C-39.437 7.49694 150.946 -31.2604 304.291 20.3444Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-25.5234' y1='217.927' x2='560.009' y2='414.974' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE175'/%3E%3Cstop offset='1' stop-color='%23FFC01B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 582px;
        height: auto;
    }

    &__wrapper {
        &--max {
            max-width: 560px;
        }

        @media (max-width: $display-md-max) {
            max-width: 100%;
        }
    }

    &__text {
        margin-bottom: 30px;

        @media (max-width: $display-md-max) {
            max-width: 100%;
            font-size: 14px;
        }

        &--mini {
            max-width: 470px;
            margin: 0 auto 30px;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--main-color {
            color: $main-color;
        }

        &--bold {
            @include text-medium;

            font-size: 20px;

            @media (max-width: $display-md-max) {
                font-size: 20px;
            }
        }
    }

    &__link {
        @include text-medium;

        color: $main-color;
        text-transform: uppercase;
    }

    &__box {
        display: flex;
        align-items: center;
        max-width: 560px;

        &--mini {
            max-width: 470px;
            margin: 0 auto;
        }

        @media (max-width: $display-md-max) {
            max-width: 100%;

            &--mini {
                max-width: 470px;
                margin: 0 auto;
            }
        }
    }

    &__icon-link {
        display: inline-block;
        margin-right: 20px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &--skype {
            width: 40px;
            height: 40px;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M29.4673 15.1553C29.4673 7.36548 23.0632 1.04855 15.1592 1.04855C14.3265 1.04855 13.5092 1.12016 12.7123 1.25565C11.4334 0.461129 9.92032 0 8.29839 0C3.71468 0 0 3.66193 0 8.18274C0 9.69242 0.417097 11.1044 1.13952 12.3218C0.950806 13.2363 0.850161 14.1861 0.850161 15.1553C0.850161 22.949 7.25661 29.2645 15.1587 29.2645C16.0548 29.2645 16.9292 29.1827 17.7798 29.0279C18.9489 29.6473 20.2829 30 21.7031 30C26.2853 30 30 26.3366 30 21.8187C30 20.5132 29.6898 19.2798 29.1377 18.1853C29.3545 17.2074 29.4673 16.1956 29.4673 15.1553ZM22.4985 21.899C21.8371 22.8242 20.8602 23.5548 19.59 24.0731C18.3353 24.5874 16.8329 24.8497 15.1205 24.8497C13.065 24.8497 11.3424 24.4931 9.99629 23.789C9.03484 23.2781 8.24274 22.5861 7.64129 21.7268C7.03306 20.8645 6.72629 20.0066 6.72629 19.1773C6.72629 18.6629 6.92661 18.2144 7.32145 17.8471C7.71339 17.4823 8.21613 17.2994 8.81565 17.2994C9.30629 17.2994 9.73161 17.444 10.0756 17.731C10.4056 18.0073 10.6877 18.4161 10.9147 18.9392C11.1692 19.5135 11.444 19.9969 11.7348 20.3739C12.0174 20.7426 12.421 21.0503 12.9363 21.2918C13.454 21.5318 14.1552 21.6571 15.014 21.6571C16.1971 21.6571 17.1668 21.4065 17.8965 20.9163C18.6102 20.4382 18.9556 19.861 18.9556 19.1545C18.9556 18.6 18.7742 18.1616 18.4045 17.8176C18.0116 17.4595 17.4987 17.1813 16.876 16.9858C16.2252 16.7879 15.3435 16.5706 14.2515 16.3447C12.765 16.0321 11.5031 15.6615 10.5015 15.239C9.47468 14.8089 8.64823 14.2132 8.0429 13.4671C7.42887 12.7069 7.11629 11.7556 7.11629 10.6379C7.11629 9.57339 7.44339 8.61145 8.08839 7.78452C8.7271 6.96242 9.66194 6.31887 10.8663 5.88194C12.0537 5.44887 13.4642 5.22968 15.0648 5.22968C16.3418 5.22968 17.4658 5.37629 18.4045 5.66419C19.3471 5.95355 20.1411 6.34258 20.7653 6.82403C21.3948 7.31081 21.8642 7.82758 22.1569 8.36661C22.4531 8.91097 22.605 9.45193 22.605 9.97548C22.605 10.4792 22.4081 10.9379 22.0181 11.3361C21.6271 11.7392 21.1306 11.9429 20.5485 11.9429C20.0192 11.9429 19.6035 11.8142 19.3176 11.5635C19.049 11.3294 18.7708 10.9635 18.4621 10.4419C18.1055 9.77468 17.6724 9.24774 17.1779 8.87564C16.696 8.51419 15.8932 8.33323 14.7876 8.33323C13.7647 8.33323 12.9285 8.535 12.3097 8.93661C11.7135 9.32081 11.4223 9.76403 11.4223 10.289C11.4223 10.6094 11.5161 10.8784 11.7102 11.1087C11.9115 11.3555 12.1984 11.5669 12.5623 11.7479C12.9377 11.9342 13.3263 12.0832 13.7139 12.1877C14.1111 12.2976 14.7774 12.4592 15.6934 12.6673C16.8527 12.9106 17.9163 13.1874 18.8555 13.4845C19.8102 13.7835 20.6318 14.1523 21.3053 14.5848C21.99 15.0252 22.5315 15.5884 22.9171 16.2634C23.3042 16.9427 23.5002 17.7774 23.5002 18.75C23.5006 19.9132 23.1619 20.9719 22.4985 21.899Z' fill='%2324AEF0'/%3E%3Cpath d='M5.59529 25.6384C5.68287 25.7158 5.76707 25.7956 5.85658 25.8711C5.55077 25.5073 5.23045 25.109 4.90723 24.6895C5.13465 25.0166 5.36545 25.334 5.59529 25.6384Z' fill='%2322D5FF'/%3E%3Cpath d='M11.7149 25.5077C13.0616 26.2118 14.7851 26.5679 16.8391 26.5679C18.5525 26.5679 20.0549 26.3056 21.3087 25.7913C22.5798 25.2736 23.5567 24.5429 24.2182 23.6177C24.8811 22.6906 25.2198 21.6319 25.2198 20.4706C25.2198 19.4981 25.0243 18.6639 24.6377 17.9836C24.2511 17.3086 23.7096 16.7458 23.0254 16.3055C22.9843 16.2789 22.9374 16.2552 22.8943 16.229C22.902 16.2411 22.9112 16.2523 22.918 16.2653C23.3051 16.9447 23.5011 17.7794 23.5011 18.7519C23.5011 19.9132 23.1624 20.9719 22.499 21.899C21.8375 22.8242 20.8606 23.5548 19.5904 24.0731C18.3358 24.5874 16.8333 24.8497 15.1209 24.8497C13.0654 24.8497 11.3428 24.4931 9.99672 23.789C9.75914 23.6627 9.53172 23.5248 9.31543 23.3768C9.33091 23.4 9.34495 23.4223 9.36091 23.445C9.96237 24.3044 10.754 24.9968 11.7149 25.5077Z' fill='%2322D5FF'/%3E%3Cpath d='M12.9364 21.2923C13.4542 21.5323 14.1553 21.6576 15.0142 21.6576C16.1972 21.6576 17.1669 21.4069 17.8966 20.9168C18.6103 20.4387 18.9558 19.8615 18.9558 19.155C18.9558 18.6005 18.7743 18.1621 18.4047 17.8181C18.2518 17.6792 18.0766 17.5558 17.8893 17.4416C16.1329 18.869 14.0401 19.8968 11.748 20.3889C12.0301 20.7503 12.4289 21.0547 12.9364 21.2923Z' fill='%230B97CE'/%3E%3Cpath d='M29.1371 18.1853C29.3538 17.2074 29.4671 16.1956 29.4671 15.1553C29.4671 10.245 26.92 5.92064 23.0587 3.39435C23.2188 4.26241 23.3069 5.15515 23.3069 6.06967C23.3069 9.1137 22.3774 11.941 20.7884 14.2834C20.9693 14.3806 21.1426 14.4813 21.3056 14.5868C21.9903 15.0271 22.5317 15.5903 22.9174 16.2653C23.3045 16.9447 23.5005 17.7794 23.5005 18.7519C23.5005 19.9132 23.1617 20.9719 22.4984 21.899C21.8369 22.8242 20.86 23.5548 19.5898 24.0731C18.3351 24.5874 16.8327 24.8497 15.1203 24.8497C13.0648 24.8497 11.3422 24.4931 9.9961 23.789C9.03465 23.2781 8.24255 22.5861 7.6411 21.7268C7.38126 21.3581 7.17997 20.9908 7.03046 20.626C4.96675 20.3981 3.0332 19.7395 1.31836 18.7447C2.92868 24.7993 8.51449 29.2645 15.1585 29.2645C16.0546 29.2645 16.929 29.1827 17.7796 29.0279C18.9482 29.6473 20.2822 30 21.7024 30C26.2846 30 29.9993 26.3366 29.9993 21.8187C29.9993 20.5137 29.6892 19.2803 29.1371 18.1853Z' fill='%230798D8'/%3E%3Cpath d='M29.2427 17.6448C27.1523 22.7894 23.1159 26.9308 18.0439 29.1576C19.1486 29.6947 20.3883 30 21.703 30C26.2852 30 29.9999 26.3366 29.9999 21.8187C29.9999 20.5132 29.6897 19.2798 29.1377 18.1853C29.1773 18.0068 29.2093 17.8253 29.2427 17.6448Z' fill='%230D83CC'/%3E%3Cpath d='M16.9047 1.33307C18.2634 1.50436 19.5384 1.78404 20.6823 2.13968C18.9829 1.43759 17.1176 1.04855 15.1594 1.04855C14.5318 1.04855 13.9129 1.08968 13.3047 1.1671C14.4287 1.12501 15.6428 1.17436 16.9047 1.33307Z' fill='%2322D5FF'/%3E%3Cpath d='M25.9199 5.86597C25.9277 5.90322 25.9412 5.94048 25.947 5.97822C26.0235 6.04064 26.1052 6.09629 26.1812 6.16016C26.097 6.05952 26.0075 5.96419 25.9199 5.86597Z' fill='%2322D5FF'/%3E%3Cpath d='M9.15871 1.17194C9.81871 1.17194 10.4594 1.25226 11.0758 1.39645C11.564 1.31129 12.0827 1.2479 12.6285 1.20774C11.3671 0.44371 9.88548 0 8.29839 0C3.71468 0 0 3.66194 0 8.18274C0 9.69242 0.417097 11.1044 1.13952 12.3218C0.950806 13.2363 0.850161 14.1861 0.850161 15.1553C0.850161 15.3832 0.856936 15.6087 0.867581 15.8337C1.07613 14.8084 1.41194 13.9084 1.84065 13.2063C1.2179 12.0561 0.858871 10.7477 0.858871 9.35419C0.858871 4.83387 4.57452 1.17194 9.15871 1.17194Z' fill='%2322D5FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        &--zoom {
            width: 160px;
            height: 52px;
            background-image: url("../img/img/zoom@1x.png");

            @media (min-resolution: 2dppx) {
                background-image: url("../img/img/zoom@2x.png");
            }
        }
    }

    &__form {
        width: 100%;
    }

    &__form-label {
        position: relative;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 50%;
            left: 18px;
            width: 24px;
            height: 24px;
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
        }

        &--name {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4063 16.3466C19.3351 15.1859 18.0351 14.2596 16.5883 13.6261C15.1415 12.9926 13.5791 12.6655 11.9997 12.6655C10.4202 12.6655 8.85788 12.9926 7.41105 13.6261C5.96421 14.2596 4.66424 15.1859 3.59301 16.3466C3.42762 16.5294 3.3351 16.7667 3.33301 17.0132V21.0132C3.33651 21.2761 3.44342 21.5271 3.63057 21.7117C3.81773 21.8964 4.07009 21.9999 4.33301 21.9999H19.6663C19.9316 21.9999 20.1859 21.8945 20.3734 21.707C20.561 21.5195 20.6663 21.2651 20.6663 20.9999V16.9999C20.661 16.7579 20.5687 16.526 20.4063 16.3466Z' fill='%23A8A8A8'/%3E%3Cpath d='M11.9997 11.3333C14.577 11.3333 16.6663 9.244 16.6663 6.66667C16.6663 4.08934 14.577 2 11.9997 2C9.42235 2 7.33301 4.08934 7.33301 6.66667C7.33301 9.244 9.42235 11.3333 11.9997 11.3333Z' fill='%23A8A8A8'/%3E%3C/svg%3E%0A");
            }
        }

        &--review {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6635 7.93124C21.1376 6.67622 20.3727 5.5355 19.4111 4.57265C18.4525 3.60812 17.3138 2.84126 16.0596 2.31562C14.7748 1.77452 13.3943 1.49715 12.0002 1.49999H11.9533C10.5354 1.50702 9.16427 1.78827 7.87286 2.3414C6.62944 2.87243 5.50139 3.64065 4.55177 4.60312C3.59958 5.5638 2.84335 6.70054 2.32521 7.94999C1.78735 9.24928 1.51482 10.643 1.52365 12.0492C1.53068 13.6758 1.91974 15.2906 2.6463 16.7344V20.2969C2.6463 20.8922 3.12911 21.375 3.72208 21.375H7.2799C8.73038 22.1069 10.331 22.492 11.9557 22.5H12.0049C13.4065 22.5 14.7635 22.2281 16.0432 21.6961C17.291 21.1767 18.4255 20.4188 19.383 19.4648C20.3486 18.5062 21.108 17.3859 21.6401 16.1367C22.1908 14.843 22.4721 13.4672 22.4791 12.0469C22.4838 10.6195 22.2072 9.23437 21.6635 7.93124ZM7.32208 13.125C6.70333 13.125 6.19943 12.6211 6.19943 12C6.19943 11.3789 6.70333 10.875 7.32208 10.875C7.94083 10.875 8.44474 11.3789 8.44474 12C8.44474 12.6211 7.94318 13.125 7.32208 13.125ZM12.0002 13.125C11.3815 13.125 10.8776 12.6211 10.8776 12C10.8776 11.3789 11.3815 10.875 12.0002 10.875C12.619 10.875 13.1229 11.3789 13.1229 12C13.1229 12.6211 12.619 13.125 12.0002 13.125ZM16.6783 13.125C16.0596 13.125 15.5557 12.6211 15.5557 12C15.5557 11.3789 16.0596 10.875 16.6783 10.875C17.2971 10.875 17.801 11.3789 17.801 12C17.801 12.6211 17.2971 13.125 16.6783 13.125Z' fill='%23A8A8A8'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__input {
        width: 100%;
        height: 60px;
        padding-left: 55px;
        border: none;
        border-radius: 5px;
        box-shadow: 4px 4px 15px rgba(44, 43, 43, 0.1);
    }

    &__form-agreement {
        margin-top: 15px;
        font-size: 11px;
        color: $main-color;

        @media (max-width: $display-md-max) {
            margin-top: 11px;
            text-align: center;
        }
    }
}
