.top-section {
    position: relative;
    padding-top: 290px;

    @media (max-width: $display-md-max) {
        padding-top: 80px;
    }

    &__photo {
        position: absolute;
        top: -120px;
        right: -105px;
        z-index: 2;
        max-height: 100%;

        @media (max-width: $display-lg-max) {
            top: -60px;
        }

        @media (max-width: $display-md-max) {
            position: static;
        }
    }

    &__img {
        width: 80vw;
        max-width: 1026px;

        @media (max-width: $display-md-max) {
            width: 100%;
        }
    }

    &__left {
        @media (max-width: $display-md-max) {
            max-width: 470px;
            margin: 0 auto;
        }
    }

    &__text {
        margin: 40px 0;
    }

    &__title {
        max-width: 590px;

        @media (max-width: $display-md-max) {
            margin-top: 26px;
            font-size: 29px;

            & br {
                display: none;
            }
        }
    }
}
