// fonts

@mixin text-regular {
    font-family: 'Helvetica Neue Cyr', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

@mixin text-medium {
    font-family: 'Helvetica Neue Cyr', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

@mixin text-title {
    font-family: 'Helvetica Neue Cyr', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@mixin main-gradient {
    background: linear-gradient(180deg, #ffe175 0%, #ffc01b 100%);
}

// Display-width

$display-xs-min: 0;
$display-sm-min: 576px;
$display-sm-max: $display-sm-min - 1px;
$display-md-min: 768px;
$display-md-max: $display-md-min - 1px;
$display-lg-min: 992px;
$display-lg-max: $display-lg-min - 1px;
$display-xl-min: 1200px;
$display-xl-max: $display-xl-min - 1px;
$display-xxl-min: 1400px;
$display-xxl-max: $display-xxl-min - 1px;

// colors

$main-color: #70231c;
$text-main-color: #48494d;
$background-color: #f7f5f6;
